.main {
  background: url("../../../public/indian-food-on-restaurant-table.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
